@using System.Globalization;
@page "/budget"
@inject NavigationManager NavManager
@inject BudgetVM budget
@inject SalaryUpdateViewModel SalaryUpdateViewModel

<PageTitle>Budget</PageTitle>

<div class="fluid-container">
    <h2 class="font bold white-heading">Summary</h2>
    <div class="row">
        <div class="col-lg-6 col-xl-3">
            <RadzenCard class="m-3 crd-primary ">
                <h3 class="font bold white-heading">£3000.00</h3>
                <p class="font white-heading">Last months income</p>
            </RadzenCard>
            <RadzenCard class="m-3 crd-primary ">
                <h3 class="font bold white-heading">£@budget.TotalCost</h3>
                <p class="font white-heading">Monthly budget spend</p>
            </RadzenCard>
        </div>
        <div class="col-sm-12 col-lg-6 col-xl-4 my-5 crd-primary">
            <RadzenChart>
                <RadzenPieSeries Data="@budget.CostPerCategory" Title="Revenue" CategoryProperty="Key" ValueProperty="Value" />
            </RadzenChart>
        </div>
        <div class="row">
            <h2 class="font bold white-heading col-xl-3">Salary items</h2>
            <RadzenButton class="col-xl-1 btn-primary" Click="AddNewSalaryItem" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
        </div>
        <div class="col-sm-12 my-5 crd-primary">
        
            <RadzenChart>
                <RadzenLineSeries Smooth="true" Data="@SalaryUpdateViewModel.salaryUpdateItems" CategoryProperty="Date" Title="Salary" ValueProperty="Amount">
                    <RadzenMarkers MarkerType="MarkerType.Circle" />
                </RadzenLineSeries>
                <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                <RadzenValueAxis Formatter="@FormatAsGBP">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Revenue in GBP" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
    <div class="row">
        <h2 class="font bold white-heading col-xl-3">Budget line items</h2>
        <RadzenButton class="col-xl-1 btn-primary" Click="AddNewBudgetItem" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
    </div>
    <div class="row">
        <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
            Data="@budget.budgetLineItems" TItem="BudgetLineItemModel" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or">
            <Columns>
                <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="BudgetLineName" Filterable="false" Title="Line Item Name" Width="70px" TextAlign="TextAlign.Center" />
                <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="Cost" Title="Cost" Width="140px"  />
                <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="Category" Title="Category" Width="140px" />
                <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="PaymentMethod" Title="Payment Method" Width="140px"/>
                <RadzenDataGridColumn TItem="BudgetLineItemModel" Property="ContractEndDate" Title="Contract End Date" Width="200px" />
            </Columns>
        </RadzenDataGrid>
    </div>
</div>


@code {
    
    string FormatAsGBP(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-GB"));
    }

    protected override async Task OnInitializedAsync() {

        await budget.GetBudgetLineItems();
        await SalaryUpdateViewModel.GetSalaryUpdateItems();

    }

    public void AddNewBudgetItem() {
        NavManager.NavigateTo("/newbudgetlineitem");
    }

    public void AddNewSalaryItem() {
        NavManager.NavigateTo("/salaryupdate");
    }
}
