@page "/"

<PageTitle>Index</PageTitle>

<h1>Login to your account</h1>

<div class="row col-xl-4 px-3">
    <div class="col-xl-12 col-md-6 col-lg-4 p-3">
        <RadzenCard>
            <RadzenTextBox Placeholder="User Name" />
        </RadzenCard>
    </div>
    <div class="col-xl-12 col-md-6 col-lg-4 p-3">
        <RadzenCard>
            <RadzenTextBox Placeholder="Password" />
        </RadzenCard>
    </div>
    <RadzenButton class="col-xl-12 col-xl-3" Text="Login to your account" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
    <p>Not a member yet?</p><a>Register now</a>
</div>
