@page "/salaryupdate"
@using Cheddar.Client.ViewModels
@using Cheddar.Client.Models
@inject NavigationManager NavManager
@inject SalaryUpdateViewModel SalaryUpdateViewModel

<div class="fluid-container">
    <h2 class="font bold white-heading">Summary</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">Date</h4>
            <RadzenDatePicker DateFormat="d" @bind-Value="@SalaryUpdateViewModel.salaryUpdateModel.Date" />
        </RadzenCard>
    </div>
        <div class="col-md-6 col-lg-4 p-3">
            <RadzenCard>
                <h4 class="mb-4">Amount</h4>
                <RadzenNumeric TValue="double" Placeholder="14.99" @bind-Value="@SalaryUpdateViewModel.salaryUpdateModel.Amount" />
            </RadzenCard>
        </div>
    </div>
    <RadzenButton class="col-xl-3" Click="@(() => SalaryUpdateViewModel.AddItemsToContainerAsync(SalaryUpdateViewModel.salaryUpdateModel, NavManager))" Text="Submit" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
</div>
