@inject HeaderViewModel HeaderVM

<div class="row">
    <div class="col-xl-3">
        <p class="font bold white-heading">@HeaderVM.timeOfDayAsText </p>
    </div>
    <div class="col-xl-9">
        <i data-feather="bell"></i>
        <img class="circle" src="img_avatar.png" alt="Avatar">
    </div>
</div>
