@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject WelcomeViewModel WelcomeViewModel
@inject ApplicationState ApplicationState

<AuthorizeView>
    <Authorized>
        @* Hello, @context.User.Identity.Name! *@
        <RadzenButton class="nav-link btn-primary" Click="BeginLogout">
            Log out
        </RadzenButton>
    </Authorized>
    <NotAuthorized>
        <RadzenButton class="nav-link btn-primary" Text="Let's go!" Click="Login"/>
        @* <a href="authentication/login">Log in</a> *@
    </NotAuthorized>
</AuthorizeView>
@code {
    private async Task BeginLogout(MouseEventArgs args) {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void Login() {
        Navigation.NavigateTo("authentication/login");
    }
}